body {
  min-width: fit-content;
  min-height: fit-content;
  display: block;
  background-color: #4c4e61;
}

main {
  height: 85vh;
  margin: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to top, #131111 0%, #4f4d66 99%, #4c4e61 100%);
  background-repeat: no-repeat;
}

.nav {
  min-width: fit-content;
  height: 5vh;
  border: 2px solid blue;
  margin: 0 0 1vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131111;
}

.nav-link, h2 {
  margin: 2vw 1vw 2vw 2vw;

}

h1 {
  font-size: 2.5vw;
}

input {
  color: black;
}


  
.previous-activities,
.form-section,
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 15vw;
}
  
.previous-activities,
.form-section,
.main {
  background-color: #131111;
  border: 2px solid blue;
}

h2,
.previous-activities, .form {
  font-size: 1.5vw;
}


.insight {
  font-size: 1.25vw;
}

.missing-info {
  border: 3px dashed red;
}

.empty-input-message {
  color: red;
}

.submit-button {
  border: none;
  margin: 1vh;
}

input[type=date], 
.submit-button {
  width: 9.5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.charts {
  align-items: center;
  border-top: .5px solid blue;
  display:flex;
  height: 28vh;
  justify-content: center;
  width: 50vw;
  background: #131111;
}
  
.hidden {
  display: none !important;
} 