* {
  color: rgb(219, 208, 208);
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: linear-gradient(to top, #131111 0%, #4f4d66 99%, #4c4e61 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

h1{
  font-size: 3vw;
}

h2{
  font-size: 2.5vw;
}

.welcome {
  flex-direction: column;
  height: 14vh;
}

.steps,
.water,
.sleep{
  height: 28vh;
}

.steps,
.water,
.sleep,
.welcome {
  background-color: #131111;
  border-top: .5px solid blue;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.friend-name {
  font-size: 2.5vw;
}

.friend-steps {
  font-size: 1.5vw;
}

.previous-activities,
.friends-list {
  background-color: #131111;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  height: 99vh;
  justify-content: space-evenly;
  width: 15vw;
}