*{
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(219, 208, 208);
}

body{
  background-image: linear-gradient(to top, #131111 0%, #8d858a 99%, #7f777d 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

h1{
  font-size: 3vw;
}

h2{
  font-size: 2.5vw;
}

.welcome {
  flex-direction: column;
  height: 14vh;
}

.steps,
.water,
.sleep{
  height: 28vh;
}

.steps,
.water,
.sleep,
.welcome {
  background-color: #534f52;
  display: flex;
  border: 2px solid blue;
  width: 50vw;
  justify-content: space-around;
}

.friend-name {
font-size: 2vw;
}

.friend-steps {
font-size: 1.5vw;
}

.previous-activities,
.friends-list {
  height: 99vh;
  width: 15vw;
  display: flex;
  font-size: 2vw;
  background-color: #534f52;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: space-evenly;
}



